
  <h4>项目类型一览</h4>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Create Date</th>
      <th>Name</th>
      <th>Brief Note</th>
      <th>Ranking Order</th>
      <th>Active</th>
      <th>Entered By</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @type_definitions.each do |cate| %>
        <tr>
          <td><%= cate.id %></td>
          <td><%= (cate.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= cate.name %></td>
          <td><%= cate.brief_note %></td>
          <td><%= cate.ranking_order %></td>
          <td><%= cate.active ? '是' : '否' %></td>
          <td><%= cate.last_updated_by.name %></td>
          <td><%= link_to 'Edit', edit_type_definition_path(cate, :format => :js), 
                           :remote => true if has_action_right?('update', 'projectx_type_definitions', cate) %></td>
          <td><%= link_to '新项目任务模版', new_type_definition_project_task_template_path(cate) if has_action_right?('index_new_project_task_template', 'projectx_type_definitions') %></td>
          <td><%= link_to '项目任务模版一览', type_definition_project_task_templates_path(cate) if has_action_right?('index_project_task_template_index', 'projectx_type_definitions') %></td>
        </tr>
    <% end %>

  </table>

	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to "新项目类型", new_type_definition_path( :format => :js), :remote => true, 
               :id => 'new_log_link' if has_action_right?('create', 'projectx_type_definitions') %>
	    </th>
	  </tr>
	</table>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>&nbsp;&nbsp;

