<div id="main_body">
<h1>Type Definition Info</h1>

<p>
  <b>Type:</b>
  <%= @type_definition.for_what %>
</p>
<p>
  <b>Name:</b>
  <%= @type_definition.name %>
</p>
<p>
  <b>Note:</b>
  <%= @type_definition.brief_note %>
</p>
<p>
  <b>Ranking:</b>
  <%= @type_definition.ranking_order %>
</p>
<p>
  <b>Active:</b>:</b>
  <%= @type_definition.active %>
</p>
<p>
  <b>Last Updated By:</b>
  <%= @type_definition.last_updated_by.name %>
</p>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
