
  <h4><%=t('Log for Task Requests') %></h4>
  <div class="pagination"><%= will_paginate @logs %></div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%= t('Date') %></th>
      <th><%= t('Project Name') %></th>
      <th><%= t('Task Name') %></th>
      <th><%= t('Task Request Name') %></th>
      <th><%= t('Log') %></th>
      <th><%= t('Entered By') %></th>

    </tr>

    <% @logs.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= Projectx::Project.find_by_id(r.task_request.task.project.id).name %></td>
          <td><%= prt(r, 'task.task_template.task_definition.name') %></td>
          <td><%= prt(r, 'task_request.name')%></td>
          <td><%= prt(r, :log) %></td>
          <td><%= prt(r, 'last_updated_by.name') %></td>
          
        </tr>
    <% end %>

  </table>

  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close' , :class => BUTTONS_CLS['action']%>

