
  <h4><%=t('Log for Projects') %></h4>
  <div class="pigination"><%= will_paginate @logs %></div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%= t('Project Name') %></th>
      <th><%= t('Date') %></th>
      <th><%= t('Log') %></th>
      <th><%= t('Entered By') %></th>
    </tr>

    <% @logs.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= Projectx::Project.find_by_id(r.project.id).name %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= prt(r, :log) %></td>
          <td><%= prt(r, 'last_updated_by.name') %></td>
          
        </tr>
    <% end %>

  </table>

  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>

