<%= simple_form_for([@type_definition, @project_task_template]) do |f| %>
  <%= f.input :name, :label => '模版名称：' %>
  <%= f.input :instruction, :label => '模版介绍：', :input_html => {:rows => 3} %>
  <%= f.input :ranking_order, :label => 'Ranking Index', :placehoder => '1, 2, 3 ...'%>
  &nbsp;&nbsp;所属任务（按执行先后次序排列。相同序号任务表示同时执行）：
  <%= f.fields_for :task_templates, @project_task_template.task_templates.first do |builder| %>
    <p><%= render('first_task_templates', :f => builder) %></p>  
  <% end %> 
  <%= f.fields_for :task_templates, @project_task_template.task_templates.offset(1).each do |builder| %> 
    <p><%= render('task_templates', :f => builder) %></p> 
  <% end if @project_task_template.task_templates.size > 1 %> 
  <p><%= link_to_add_fields "加选任务", f, :task_templates %></p>
  
  <p><%= f.button :submit, '保存' %></p>
<% end %>
