<div id="main_body">
<h4><%=t('Project Task Templates')%></h4>
<div class="pigination"><%= will_paginate @project_task_templates %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Create Date') %></th>
    <th><%= t('Name') %></th>
    <th><%= t('Project Type') %></th>
    <th><%= t('Active') %></th>
    <th><%= t('Last Updated By') %></th>
    <th><%= t('Ranking') %></th>
    <th></th>
    
  </tr>

<% @project_task_templates.each do |r| %>
  <tr>
  	
  	<td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.type_definition_project_task_template_path(r.type_definition,r)}" %></td>
  	<td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d") %></td>
    <td><%= prt(r, :name) %></td>   
    <td><%= prt(r, 'type_definition.name' ) %></td>
    <td><%= prt(r, :active) %></td>
    <td><%= prt(r, 'last_updated_by.name') %></td> 
    <td><%= prt(r, :ranking_order) %></td> 
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{projectx.edit_type_definition_project_task_template_path(r.type_definition, r)}" if has_action_right?('update', 'projectx_project_task_templates', r) %> </td>

  </tr>
<% end %>
</table>
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0" %>
</div>
