<div id='main_body'>
<h4>项目模版内容 - <%=@type_definition.name %></h4>

<p>
  <b>名称:</b>
  <%= @project_task_template.name %>
</p>
<p>
  <b>项目类型:</b>
  <%= @type_definition.name %>
</p>  
<p>
  <b>生成日期:</b>
  <%= (@project_task_template.created_at + 8.hours).strftime("%Y/%m/%d") %>
</p> 
<p>
  <b>输入/更新:</b>
  <%= @project_task_template.last_updated_by.name %>
</p>
<p>
  <b>所属任务：</b>
  <% @project_task_template.task_templates.order("execution_order, execution_sub_order").each do |t| %>
    <p>任务#：<%= t.execution_order %>.<%= t.execution_sub_order if t.execution_sub_order.present? %></p>
    <p>名称：<%= t.task_definition.name %></p>
    <p>简注：<%= t.brief_note %></p>
    <p>前任务完成后方可开始：<%= t.start_before_previous_completed ? '是' : '否' %></p>
    <p>申请：<%= t.need_request ? '是' : '否'%></p>
  <% end %>
</p>


<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0" %>
  &nbsp;&nbsp;<%= link_to t('New Project Task Template'), SUBURI + "/authentify/view_handler?index=1&url=#{projectx.new_type_definition_project_task_template_path(@type_definition)}" if has_action_right?('create', 'projectx_project_task_templates') %>
</div>