    <table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Instructions</th>
			<th>Active</th>
			<th>Last updated by</th>
			<th>Ranking</th>
			<th></th>
			<th></th> 
		</tr>
		<% @task_definitions.each do |defi| %>
		  <tr>
		  	<td><%= defi.id %><td>
			<td><%= defi.name %></td>
			<td><%= prt(defi, :task_desp) %></td>
			<td><%= prt(defi, :task_instruction) %></td>
			<td><%= prt(defi, :active) %></td>
			<td><%= prt(defi, :ranking_order) %></td>
			<td><%= prt(defi, 'last_updated_by.name') %></td>    
			<td><%= link_to 'Edit', SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_path(defi)}" if has_action_right?('update', 'projectx_task_definitions', defi) %></td>
		  </tr>
		<% end %>
	</table>
	<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
	&nbsp;&nbsp;<%= link_to 'New Task Definition', SUBURI + "/authentify/view_handler?index=1&url=#{new_task_definition_path}" if has_action_right?('create','projectx_task_definitions') %>
	
