    <table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Instructions</th>
			<th>Active</th>
			<th>Last updated by</th>
			<th>Ranking</th>
			<th></th>
			<th></th> 
		</tr>
		<% task_definitions.each do |defi| %>
		  <tr>
			<td><%= defi.name %></td>
			<td><%= defi.task_desp %></td>
			<td><%= defi.task_instruction %></td>
			<td><%= defi.active %></td>
			<td><%= defi.ranking_order %></td>
			<td><%= defi.last_updated_by.id %></td>    
			<td><%= link_to 'Edit', SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_path(prj)}" if grant_access?('update', 'projectx_task_definitions') %></td>
			<td><%= link_to 'Show', SUBURI + "/authentify/view_handler?index=1&url=#{show_project_path(prj)}" if grant_access?('show', 'projectx_task_definitions') %></td>
		  </tr>
		<% end %>
	</table>
	<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
	&nbsp;&nbsp;<%= link_to 'New Project', SUBURI + "/authentify/view_handler?index=1&url=#{new_project_path}" if grant_access?('create','projectx_task_definitions') %>
	&nbsp;&nbsp;<%= link_to 'Search', SUBURI + "/authentify/view_handler?index=1&url=#{search_projects_path}" %>
