<div id="main_body">
<h4>Task Definition Info</h4>

<p>
  <b>Name:</b>
  <%= @task_definition.name %>
</p>
<p>
  <b>Description:</b>
  <%= @task_definition.task_desp %>
</p>
<p>
  <b>Instructions:</b>
  <%= @task_definition.task_instruction %>
</p>
<p>
  <b>Ranking:</b>
  <%= @task_definition.ranking_order %>
</p>
<p>
  <b>Active:</b>:</b>
  <%= @task_definition.active %>
</p>
<p>
  <b>Last Updated By:</b>
  <%= @task_definition.last_updated_by.name %>
</p>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
