<div id="main_body">
<h4><%=t('Task Definition Info') %></h4>

<p>
  <b><%= t('Name') %></b>
  <%= @task_definition.name %>
</p>
<p>
  <b><%= t('Description') %></b>
  <%= @task_definition.task_desp %>
</p>
<p>
  <b><%= t('Instructions') %></b>
  <%= @task_definition.task_instruction %>
</p>
<p>
  <b><%= t('Ranking') %></b>
  <%= @task_definition.ranking_order %>
</p>
<p>
  <b><%= t('Active') %></b>
  <%= @task_definition.active %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @task_definition.last_updated_by.name %>
</p>

  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>

</div>
