<div class="fields">
  <%= f.input :name, :label => '姓名：', :required => true %>
  <%= f.input :position, :label => '职务：' %>
  <%= f.input :cell_phone, :label => '手机：' %>
  <%= f.input :phone, :label => '电话：' %>    	
  <%= f.input :email, :label => '电邮：' %>
  <%= f.input :brief_note, :label => '简注：', :input_html => {:rows => 4} %>
  <%= link_to_remove_fields "删除", f %>
</div>

