<div class="pagination"><%= will_paginate @projects %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Customer') %></th>
    <th><%= t('Project Name') %></th>
    <th><%= t('Project Number') %></th>
    <th><%= t('Status') %></th>
    <th><%= t('Start Date') %></th>
    <th><%= t('Manager') %></th>
    <th><%= t('Contract') %></th>
    <th><%= t('Sales') %></th>
    <th><%= t('Completion %') %></th>
    <th><%= t('Payment %') %></th>
    <th><%= t('Expedite') %></th>
    <th><%= t('Est Delivery Date') %></th>
    <th><%= t('Delivery Date') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |prj| %>
  <tr>
    <% if has_action_right?('show', 'projectx_projects', prj) %>
        <td><%= link_to prj.id, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_path(prj)}"  %></td>
    <% else %>
        <td><%= prj.id %></td>
    <% end %>
  	<% if has_action_right?('show','customerx_customers', prj.customer ) %>
  	  <td><%= link_to prj.customer.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{customerx.customer_path(prj.customer_id)}"  %></td>
  	<% else %>
  	  <td><%= prt(prj, 'customer.short_name') %></td>
  	<% end %>
  	
    <% if has_action_right?('show','projectx_projects', prj) %>
  	  <td><%= link_to prj.name, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_path(prj.id)}"  %></td>
  	<% else %>
        <td><%= prt(prj, :name) %></td>
  	<% end %>
    <td><%= prt(prj, :project_num) %></td>
    <td><%= prt(prj, 'status.name') %></td>
    <td><%= prt(prj, :start_date) %></td>
    <td><%= prt(prj, 'project_manager.name') %></td>
    <% if has_action_right?('show','projectx_contracts', prj.contract) %>
        <td><%= link_to prj.contract.id, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.contract_path(prj.contract, {:project_id => prj.id})}"  %></td>
    <% else %>
        <td><%= prt(prj, 'contract.id') %></td>
    <% end %>
    <td><%= prt(prj, 'customer.sales.name') %></td>
    <td><%= prt(prj, :completion_percent) %></td>
    <% if has_action_right?('show_payment_amount','projectx_projects', prj.contract) %>
	    <td><%= prt(prj, 'contract.payment_total') %></td>
  	<% else %>
	    <td><%= prt(prj, 'contract.payment_percent') %></td>
  	<% end %>
    <td><%= prt(prj, :expedite) %></td>
    <td><%= prt(prj, :estimated_delivery_date) %></td>
    <td><%= prt(prj, :delivery_date) %></td>

    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_path(prj)}" , :class => BUTTONS_CLS['action']   if has_action_right?('update', 'projectx_projects', prj )  %></td>
    <td><%= link_to t('Tasks'), SUBURI + "/authentify/view_handler?index=1&url=#{project_tasks_path(prj)}", :class => BUTTONS_CLS['action']  if has_action_right?('index_task', 'projectx_projects', prj ) %></td>
    <td><%= link_to t('Payments'), SUBURI + "/authentify/view_handler?index=1&url=#{contract_payments_path(prj.contract)}", :class => BUTTONS_CLS['action']  if has_action_right?('index_payment', 'projectx_projects', prj.contract ) %></td>
  </tr>
<% end %>
</table>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Project'), SUBURI + "/authentify/view_handler?index=1&url=#{new_project_path}", :class => BUTTONS_CLS['action'] if has_action_right?('create','projectx_projects') %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_projects_path}", :class => BUTTONS_CLS['default'] %>
    </th>
  </tr>
</table>




