<div id="main_body">
<h4><%= t(@title) %></h4>

<%= simple_form_for @project,  :method => :put, :url => search_results_projects_path  do |f| %>
  <%#= f.input :project_date_s, :label => t('Project Date'), :as => :string, :input_html => {:size => 40} %>
  <%= f.input :start_date_s, :label => t('Start Date'), :as => :string, :input_html => {:size => 40} %>
  <%= f.input :end_date_s, :label => t('End Date'), :as => :string, :input_html => {:size => 40} %>
  <%= f.input :status_s, :label => t('Status'), :collection => return_misc_definitions('project_status'), :label_method => :name, :value_method => :id,
                        :include_blank => true  %> 
  <%= f.input :project_task_template_id_s, :label => 'Project Type:', :collection => return_project_task_templates, :label_method => :name, :value_method => :id, 
                        :include_blank => true  %> 
                        
  <%= f.input :keyword, :label => t('Keyword') %>
  <%= f.input :zone_id_s, :label =>t('Zone'), :collection => Authentify::Zone.where(:active => true).order("ranking_order"),
              :label_method => :zone_name, :value_method => :id if has_action_right?("search", "projectx_projects") %>
  <%= f.input :sales_id_s, :collection => sales(), :label_method => :name, :value_method => :id, :prompt => t('Select Sales'), 
              :label => t('Sales') if has_action_right?('search', 'projectx_contracts') %>
  <%= f.input :customer_id_s, :collection => return_customers(), :label_method => :name, :value_method => :id, :prompt => t('Choose Customer'),
                  :label => t('Customer') if has_action_right?("search", "projectx_projects")  %>

  <%= f.button :submit, t('Submit') , :class =>'btn btn-primary' %>
<% end %> 
<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0" %>

</div>
