<div id="main_body">

<h4><%= @title %></h4>

<p>
  <b><%= t('Project Name') %></b>
  <%= @project.name %>
</p>
<p>
  <b><%= t('Project Number') %></b>
  <%= @project.project_num %>
</p>
<p>
  <b><%= t('Customer') %></b>
  <%= @project.customer.name %>
</p>
<p>
  <b><%= t('Status') %></b>
  <%= @project.status.name %>
</p>
<p>
  <b><%= t('Project Type') %></b>
  <%= @project.project_task_template.name %>
</p>
<p>
  <b><%= t('Sales') %></b>
  <%= @project.customer.sales.name %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @project.last_updated_by.name %>
</p>

<p>
    <b><%= t('Project Date') %></b>
    <%= @project.project_date %>
</p>
<p>
    <b><%= t('Start Date') %></b>
    <%= @project.start_date %>
</p>
<p>
    <b><%= t('Delivered Date') %></b>
    <%= @project.delivery_date %>
</p>
<p>
    <b><%= t('Estimated Delivered Date') %></b>
    <%= @project.estimated_delivery_date %>
</p>
<p>
    <b><%= t('Description') %></b>
    <%= @project.project_desp %>
</p>
<p>
    <b><%= t('Instruction') %></b>
    <%= @project.project_instruction %>
</p>
<p>
    <b><%= t('Completion %') %></b>
    <%= @project.completion_percent %>
</p>
<p>
    <b><%= t('Instruction') %></b>
    <%= @project.completion_percent %>
</p>
<p>
    <b><%= t('Project Manager') %></b>
    <%= @project.project_manager.name %>
</p>
<p>
    <b><%= t('Expedite') %></b>
    <%= @project.expedite %>
</p>

<p>
  <b><%= t('LOG：') %></b>
  <% @project.logs.order("created_at DESC").each do |t| %>
    <p><%= t.created_at.strftime("%Y/%m/%d") %></p>
    <p><%= t.last_updated_by.name %></p>
    <p><%= t.log %></p>
  <% end %>
</p>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Log'), projectx.new_project_log_path(@project, :which_table => 'project', :format => :js), :remote => true, 
                  :id => 'new_log_link' if has_action_right?('create_project', 'projectx_logs') %>
    </th>
  </tr>
</table>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>


</div>
