<div id="main_body">

<h1>Project Info</h1>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>Number:</b>
  <%= @project.project_num %>
</p>
<p>
  <b>Customer Name:</b>
  <%= @project.customer.name %>
</p>
<p>
  <b>Status:</b>
  <%= @project.status.name %>
</p>
<p>
  <b>Zone:</b>
  <%= @project.customer.zone.zone_name %>
</p>
<p>
  <b>Type:</b>:</b>
  <%= @project.project_task_template.name %>
</p>
<p>
  <b>Sales:</b>
  <%= @project.customer.sales.name %>
</p>
<p>
  <b>Last Updated By:</b>
  <%= @project.last_updated_by.name %>
</p>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
