<div id='main_body'>
<h4>项目任务内容 </h4>

<p>
  <b>任务名称:</b>
  <%= @task.task_template.task_definition.name %>
</p>
<p>
  <b>项目名称:</b>
  <%= @project.name %>
</p>  
<p>
  <b>开始日期:</b>
  <%= @task.start_date.strftime("%Y/%m/%d") %>
</p> 
<p>
  <b>结束日期:</b>
  <%= @task.finish_date.strftime("%Y/%m/%d") %>
</p> 
<p>
  <b>加急:</b>
  <%= @task.expedite ? '是' : '否' %>
</p> 
<p>
  <b>完成:</b>
  <%= @task.completed ? '是' : '否' %>
</p> 
<p>
  <b>跳过:</b>
  <%= @task.skipped ? '是' : '否' %>
</p> 
<p>
  <b>取消:</b>
  <%= @task.cancelled ? '是' : '否' %>
</p> 
<p>
  <b>输入/更新:</b>
  <%= @task.last_updated_by.name %>
</p>
<p>
  <b>LOG：</b>
  <% @task.logs.order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %> </li>
  <% end %>
</p>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Request'), SUBURI + "/authentify/view_handler?index=1&url=#{projectx.new_task_task_request_path(@task)}", :id => 'new_request_link', 
    	              :class => BUTTONS_CLS['action'] if @task.task_template.need_request && has_action_right?('create', 'projectx_task_requests') %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Task Requests'), SUBURI + "/authentify/view_handler?index=1&url=#{projectx.task_task_requests_path(@task)}", :id => 'task_request_link', 
    	              :class => BUTTONS_CLS['action'] if @task.task_template.need_request && has_action_right?('index', 'projectx_task_requests') %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to t('New Log'), projectx.new_task_log_path(@task, :which_table => 'task', :subaction => 'task', :format => :js), :remote => true, 
                          :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create_task', 'projectx_logs') %>    	
    </th>
  </tr>
</table>

<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>

</div>