
  <h4>Project Status</h4>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Create Date</th>
      <th>Status Name</th>
      <th>Brief Note</th>
      <th>Ranking Order</th>
      <th>Entered By</th>
      <th></th>
    </tr>

    <% @misc_definitions.each do |cate| %>
        <tr>
          <td><%= cate.id %></td>
          <td><%= (cate.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= cate.name %></td>
          <td><%= cate.brief_note %></td>
          <td><%= cate.ranking_order %></td>
          <td><%= cate.last_updated_by.name %></td>
          <td><%= link_to 'Edit', edit_misc_definition_path(cate, :subaction => 'project_status', :format => :js), 
                           :remote => true if has_action_right?('update_project_status', 'projectx_misc_definitions', cate) %></td>
        </tr>
    <% end %>

  </table>

	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to "New Project Status", new_misc_definition_path(:for_which => 'project_status', :subaction => 'project_status', :format => :js), :remote => true, 
               :id => 'new_log_link' if has_action_right?('create_project_status', 'projectx_misc_definitions') %>   
		</th>
	  </tr>
	</table>
  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>
