<div id="main_body">
<% if @for_which == 'project_status' %>
  <h1>Update Project Status</h1>
  <% name_label = 'ProjectStatus' %>  
<% elsif @for_which == 'task_status' %>
  <h1>Update Task Status</h1>
  <% name_label = 'TaskStatus' %>  
<% end %>
<%= simple_form_for @misc_definition do |f| %>     
  <%= f.input :name, :label => name_label, :readonly => readonly?(@misc_definition, 'name') %>
  <%= f.input :brief_note, :label => "Brief Note:", :readonly => readonly?(@misc_definition, 'brief_note') %> 
  <% if readonly?(@misc_definition, 'active')%>
    <%= f.input :active_noupdate, :label => 'Active:', :readonly => true, :required => false, :input_html => {:value => @misc_definition.active} %>
  <% else %>
    <%= f.input :active, :label => 'Active:', :collection => [['是', true], ['否', false]]%>
  <% end %>
  <%= f.input :for_which, :as => :hidden %>
  <%= f.input :ranking_order, :label => 'Ranking Index', :placehoder => '1, 2, 3 ...', :readonly => readonly?(@misc_definition, 'ranking_order') %> 
  <%= f.button :submit, 'Save' %>  
<% end %> 

<%= link_to 'Back', misc_definitions_path(:for_which => @for_which) %>
</div>