<div class="pagination"><%= will_paginate @contracts %></div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%= t('Project Name') %></th>
      <th><%= t('Signed By') %></th>
      <th><%= t('Signed Date') %></th>
      <th><%= t('Sales') %></th>
      <th><%= t('Payment Term') %></th>
      <th><%= t('Payment Agreement') %></th>
      <th><%= t('Contract Amount') %></th>
      <th><%= t('Other Charge') %></th>
      <th><%= t('Paid out?') %></th>
      <th><%= t('Signed') %></th>
      <th><%= t('Contract on file') %></th>
      <th></th>
      <th></th>
    </tr>

    <% @contracts.each do |contr| %>
      <tr>
          <% if has_action_right?('show','projectx_contracts', contr ) %>
              <td><%= link_to contr.id, SUBURI + "/authentify/view_handler?index=1&url=#{project_contract_path(contr.project, contr)}"  %></td>
          <% else %>
              <td><%= prt(contr, :id) %></td>
          <% end %>
          <% if has_action_right?('show_project','projectx_contracts', contr ) %>
              <td><%= link_to contr.project.name, SUBURI + "/authentify/view_handler?index=1&url=#{project_path(contr.project_id)}"  %></td>
          <% else %>
              <td><%= prt(contr, 'project.name') %></td>
          <% end %>
          <td><%= prt(contr, 'signed_by.name') %></td>
          <td><%= prt(contr, :sign_date) %></td>
          <td><%= prt(contr, 'project.customer.sales.name') %></td>
          <td><%= prt(contr, :payment_term) %></td>
          <td><%= prt(contr, :payment_agreement) %></td>
          <td><%= prt(contr, :contract_amount) %></td>
          <td><%= prt(contr, :other_charge) %></td>
          <td><%= prt(contr, :paid_out) %></td>
          <td><%= prt(contr, :signed) %></td>
          <td><%= prt(contr, :contract_on_file) %></td>
          <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_contract_path(contr.project, contr)}", :class => 'btn btn-mini btn-primary'  if has_action_right?('update', 'projectx_contracts', contr ) %></td>
		  <td><%= link_to t('New Payment'), SUBURI + "/authentify/view_handler?index=1&url=#{new_payment_path}", :class => 'btn btn-mini' if has_action_right?('create_payment','projectx_contracts', contr) %></td>
        </tr>
    <% end %>
  </table>
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_contracts_path}" %>    
		</th>
	  </tr>
	</table>
  