<div id="main_body">
	<h4><%= t(@title) %></h4>
	
	<%= simple_form_for @contract,  :method => :put, :url => search_results_contracts_path  do |f| %>
	  <%= f.input :project_id_s, :label => t('Project Id') %>
	  <%= f.input :paid_out_s, :label => t('Paid out') %>
	  <%= f.input :signed_s, :label => t('Signed') %>
      <%= f.input :signed_by_id_s, :collection => sales(), :label_method => :name, :value_method => :id, :prompt => t('Select Signer'),
                  :label => t('Signer') if has_action_right?('search', 'projectx_contracts') %>
      <%#= f.input :contract_date_s, :label => t('Contract Date') %>

	  <%= f.button :submit, t('Submit'), :class => BUTTONS_CLS['action'] %>
	<% end %> 
	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>

</div>
