<div id="main_body">
	<h4><%= @title %></h4>
	
	<%= simple_form_for @contract,  :method => :put, :url => search_results_contracts_path  do |f| %>
	  <%= f.input :project_id_s, :label => "Project Id" %>
	  <%= f.input :paid_out_s, :label => "Paid out?" %>
	  <%= f.input :signed_s, :label => "Signed?" %>
      <%= f.input :signed_by_id_s, :collection => sales(), :label_method => :name, :value_method => :id, :prompt => "Select Signer",
                  :label => "Signer" if has_action_right?('search', 'projectx_contracts') %>
      <%= f.input :contract_date_s, :label => "Contract Date" %>

	  <%= f.button :submit, "Submit", :class =>'btn btn-primary' %>
	<% end %> 
	<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>

</div>
