<div id="main_body">

<h1><%= @title %></h1>

<p>
  <b>Id:</b>
  <%= @contract.id %>
</p>
  <b>Project Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>Contract Amount</b>
  <%= @contract.contract_amount %>
</p>
<p>
  <b>Customer Name:</b>
  <%= @project.customer.name %>
</p>
<p>
  <b>Sales:</b>
  <%= @project.sales.name %>
</p>
<p>
  <b>Last Updated By:</b>
  <%= @contract.last_updated_by.name %>
</p>

  &nbsp;&nbsp;<%= link_to 'New Payment', projectx.new_contract_payment_path(@contract) %>
  &nbsp;&nbsp;<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
