<div id="main_body">

<h1><%= @title %></h1>

<p>
  <b>Id:</b>
  <%= @contract.id %>
</p>
  <b>Project Name:</b>
  <%= @contract.project.name %>
</p>
<p>
  <b>Contract Amount</b>
  <%= @contract.contract_amount %>
</p>
<p>
  <b>Customer Name:</b>
  <%= @contract.project.customer.name %>
</p>
<p>
  <b>Sales:</b>
  <%= @contract.project.sales.name %>
</p>
<p>
  <b>Last Updated By:</b>
  <%= @contract.last_updated_by.name %>
</p>

&nbsp;&nbsp;<%= link_to 'New Payment', SUBURI + "/authentify/view_handler?index=1&url=#{projectx.new_payment_path(:contra_id => @contract.id)}" if has_action_right?('create','projectx_payments') %>
<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
