<div id="main_body">
  <h1>Project Statuses</h1>
  <table>
    <tr>
      <th>#</th>
      <th>CreateDate</th>
      <th>StatusName</th>
      <th>Brief Note</th>
      <th>RankingOrder</th>
      <th>LastUpdatedBy</th>
      <th></th>
    </tr>

    <% @project_statuses.each do |cate| %>
        <tr>
          <td><%= cate.id %></td>
          <td><%= (cate.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= cate.name %></td>
          <td><%= cate.brief_note %></td>
          <td><%= cate.ranking_order %></td>
          <td><%= cate.last_updated_by.name %></td>
          <td><%= link_to 'Edit', edit_project_status_path(cate, :format => :js), :remote => true if has_update_right?('projectx_project_statuses') %></td>
        </tr>
    <% end %>

  </table>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>&nbsp; |&nbsp;
  <%= link_to "New Project Status", new_project_status_path(:format => :js), :remote => true, :id => 'new_log_link' if has_create_right?('projectx_project_statuses') %>

</div>
