<div id="main_body">
  <h4><%= t(@title) %></h4>
  <%= simple_form_for @model,  :method => :put, :url =>  eval(@search_stat.search_results_url)  do |f| %>
      <p>
      <% if @search_stat.stat_function.present? %>
        <p><%= f.input :search_option_s, :label => t('Option:'), :collection => ['Search', 'Stats'], :as => :radio_buttons  %></p>
      <% else %>
          <p><%= f.input :search_option_s, :collection => ['Search'], :as => :radio_buttons %></p>
      <% end %>
      </p>
      <% lf = eval(@search_stat.labels_and_fields) %>
      <p>
      <% lf.each do |field, layouts| %>
          <% if layouts[:if].nil?  or  layouts[:if]%>
              <% layouts.delete(:if) %>
              <%= f.input field.to_sym, layouts %>
          <% end %>
      <% end %>
      </p>
      <%= f.button :submit, t('Submit') , :class =>'btn btn-primary' %>
  <% end %>
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0" %>

</div>

