<div class="pagination"><%= will_paginate @payments %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Contract Id') %></th>
    <th><%= t('Paid Amount') %></th>
    <th><%= t('Payment Type') %></th>
    <th><%= t('Payment Description') %></th>
    <th><%= t('Received By') %></th>
    <th><%= t('Received Date') %></th>
    <th><%= t('Project Name') %></th>
    <th><%= t('Project Number') %></th>
    <th><%= t('Project Status') %></th>
    <th><%= t('Sales') %></th>
    <th><%= t('Completion %') %></th>
    <th><%= t('Payment %') %></th>
    <th><%= t('Est. Delivery Date') %></th>
    <th><%= t('Delivered on') %></th>
    <th></th>
    <th></th>
  </tr>
<% @payments.each do |paymnt| %>
  <tr>
    <% if has_action_right?('show','projectx_payments', paymnt ) %>
        <td><%= link_to paymnt.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.contract_payment_path(paymnt.contract, paymnt)}"  %></td>
    <% else %>
        <td><%= prt(paymnt, :id) %></td>
    <% end %>

  	<% if has_action_right?('show_contract','projectx_payments', paymnt.contract ) %>
  	  <td><%= link_to paymnt.contract.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_contract_path(paymnt.contract.project, paymnt.contract_id)}"  %></td>
  	<% else %>
  	  <td><%= prt(paymnt, 'contract_id') %></td>
  	<% end %>
    
    <td><%= prt(paymnt, :paid_amount) %></td>
    <td><%= prt(paymnt, :payment_type) %></td>
    <td><%= prt(paymnt, :payment_desc) %></td>
    <td><%= prt(paymnt, :received_by_id) %></td>
    <td><%= prt(paymnt, :received_date) %></td>
    <% if has_action_right?('show','projectx_projects', paymnt.contract.project) %>
  	  <td><%= link_to paymnt.contract.project.name, SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_path(paymnt.contract.project.id)}"  %></td>
  	<% else %>
        <td><%= prt(paymnt, 'contract.project.name') %></td>
  	<% end %>
    <td><%= prt(paymnt, 'contract.project.project_num') %></td>
    <td><%= prt(paymnt, 'contract.project.status.name') %></td>
    <td><%= prt(paymnt, 'contract.project.customer.sales.name') %></td>
    <td><%= prt(paymnt, 'contract.project.completion_percent') %></td>
    <td><%= prt(paymnt, 'contract.payment_percent') %></td>
    <td><%= prt(paymnt, 'contract.project.estimated_delivery_date') %></td>
    <td><%= prt(paymnt, 'contract.project.delivery_date') %></td>

    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_contract_payment_path(paymnt.contract, paymnt)}", :class => 'btn btn-mini btn-primary'  if has_action_right?('update', 'projectx_payments', paymnt ) %></td>
  </tr>
<% end %>
</table>
<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Payment'), SUBURI + "/authentify/view_handler?index=1&url=#{new_payment_path}" if has_action_right?('create','projectx_payments') %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Search Payment'), SUBURI + "/authentify/view_handler?index=1&url=#{search_payments_path}" %>
    </th>
  </tr>
</table>
