<div id="main_body">
<h4><%= t(@title) %></h4>

<p>
  <b><%= t('Paid Amount') %></b>
  <%= @payment.paid_amount %>
</p>
<p>
  <b><%= t('Payment Type') %></b>
  <%= @payment.payment_type %>
</p>
  <p>
    <b><%= t('Payment Description') %></b>
    <%= @payment.payment_desc %>
  </p>
<p>
  <b><%= t('Received Date') %></b>
  <%= @payment.received_date %>
</p>
<p>
  <b><%= t('Received By') %></b>
  <%= @payment.received_by.name %>
</p>
<p>
  <b><%= t('Contract Id') %></b>
  <%= @contract.id %>
</p>
<p>
  <b><%= t('Project Number') %></b>
  <%= @contract.project.project_num %>
</p>
<p>
  <b><%= t('Project Status') %></b>
  <%= @contract.project.status.name %>
</p>
<p>
  <b><%= t('Sales') %></b>
  <%= @contract.project.sales.name %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @payment.last_updated_by.name %>
</p>

<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
